<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>platform</title>
    <link rel="stylesheet" href="static/css/style.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    {{template "header" .}}
    <div class="wrapper">
      <!-- ====================================================== -->
      <div class="container">
        <div class="main_page">
          {{template "nav_bar" .}}
          <div class="main_posts_datas fl_r">
            {{if .AuthenticatedUser}} {{template "create_post" .}} {{end}}
            <div class="posts">
              {{range .Posts}}
              <div class="post-table">
                <div class="post-ctg">
                  {{range .Categories}} {{.Name}} {{end}}
                </div>
                <div class="post-autor-datas">
                  <div class="post-autorname">{{.AuthorName}}</div>
                  <div class="post-createdtime">{{humanDate .CreatedAt}}</div>
                </div>
                <div class="post-content-datas">
                  <div class="post-title">{{.Title}}</div>
                  <div class="post-content">{{.Content}}</div>
                </div>
                <div class="post-reactions-datas">
                  <!-- reactions -->
                </div>
                <div class="post-comments-datas">
                  <!-- coments -->
                </div>
              </div>
              {{end}}
            </div>
          </div>
        </div>
      </div>
      <!-- ====================================================== -->
    </div>
    {{template "footer" .}}

    <script src="static/js/main.js"></script>
  </body>
</html>
